.page-main {
  margin: 0 auto;
}

.page-main__head {
  @include reset;

  font-size: $font-size-headline;
  font-weight: 400;
  line-height: $line-height-headline;

  margin-bottom: 25px;
  padding: 15px 20px 0;
}

@media (min-width: $tablet-width) {
  .page-main__head {
    font-size: 60px;

    margin-bottom: 94px;
    padding: 37px 30px 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main__head {
    padding: 19px 0 0 40px;
    margin-bottom: 95px;
  }

  .page-main {
    position: relative;

    &--green-background::after {
      content: "";

      position: absolute;
      top: -168px;
      left: 49.85%;
      right: 0;

      height: 696px;

      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-color: #65a93c;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }
}
