.site-list {
  display: flex;
  flex-direction: column;
}

.site-list__item {
  padding-top: 24px;
  padding-bottom: 24px;

  text-align: center;

  border-bottom: 1px solid $palette-tertiary;
}

.site-list__link {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-transform: $text-transform-base;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:focus,
  &[href]:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 440px;

    flex-direction: row;
    justify-content: space-between;
  }

  .site-list__item {
    border-bottom: none;

    position: relative;

    &--active::after {
      content: "";

      position: absolute;
      bottom: 15px;
      left: 1%;

      width: 98%;
      height: 2px;

      background-color: $palette-secondary;
    }
  }

  .site-list__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

    color: $tertiary-color;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 480px;
  }

  .site-list__item {
    padding-top: 26px;

    &--active::after {
      bottom: 13px;
    }

    &--active-index::after {
      content: "";

      position: absolute;
      bottom: 12px;
      left: 1%;

      width: 98%;
      height: 2px;

      background-color: $quaternary-color;
    }
  }

  .site-list__link {
    font-size: 20px;
    line-height: 25px;

    &--index {
      color: $quaternary-color;
    }
  }
}
